.card  {
  background-color: #fff;
  margin-top: 50px;
}

.card-header {
  background-color: #fff;
}

.card-header .icon-login {
  background-color: #fff;
  color: #00b453;
  font-size: 200%;
  display: flex;
  justify-content: center;
}