$breakpoint-tablet: 768px;

.button {
  border-radius: 5px;
  height: 40px;
  background-color: #E2E2E2;
  color: black;
}

.input {
  border: 1px solid #1FA8A1;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 40px;
}

.label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 20px;
}

.form-container {
  display: flex;
  align-content: center;
  padding-top: 40px;
  min-height: 500px;
  height: 100vh;
  background-color: #F1F1F1;
}

.section-container {
  width: 100%;
  max-width: 280px;
}

.logo {
  height: 200px;
}

.error {
  margin-top: 20px;
  font-size: 18px;
  color: red;
}

.button {
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  text-align: center;
  min-width: 130px;
  min-height: fit-content;
  background-color: white;
  color: #1FA8A1;
  border: 1px solid #1FA8A1;
  font-weight: bold;
  line-height: 19px;
  margin: 10px;

  &:hover {
    background-color: #1FA8A1;
    color: white;
  }
}

.already {
  font-size: 13px;
  line-height: 29px;
  padding: 5px;
}

.title {
  font-size: 32px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  margin: 20px;
}

@media (max-width: $breakpoint-tablet) {
  .logo {
    height: 150px;
  }

  .title {
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
  }

  .input {
    height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .button {
    font-size: 13px;

  }  
}