$breakpoint-tablet: 768px;

.sidebar {
  height: 60px;
  background-color: white;
  margin-right: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px #E2E2E2;
  width: 230px;
  margin-bottom: 40px;
}

.number {
  font-size: 30px;
  line-height: 30px;
  height: 32px;
  color: #8ccdb0;
  margin: auto 0;
}

.text {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  height: 32px;
  margin: auto 20px auto 10px;
}

