$breakpoint-tablet: 768px;

.sidebar {
  flex-grow: 1;
  flex: 1 1 0;
  height: 100px;
  background-color: white;
  margin-right: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px #E2E2E2;
  min-width: 130px;
}

.number {
  font-size: 30px;
  height: 32px;
  color: #8ccdb0;
}

.text {
  font-size: 20px;
}

@media (max-width: $breakpoint-tablet) {
  .number {
    font-size: 20px;
    height: 22px;
  }
  
  .text {
    font-size: 10px;
  }
}