$breakpoint-tablet: 768px;

.section_container {
  width: 100%;
  height: 100vh;
  content: '';
}

.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
}

.input {
  height: 30px;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 10px;
}

.form-container {
  min-height: 500px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  content: '';
}

.input_container {
  width: 100%;
  max-width: 400px;
  margin: 50px;
}

@media (max-width: $breakpoint-tablet) {
  .section_container {
    height: calc(100vh - 60px);
  }
}